<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>

   <!-- This is an example for providing an own category--> 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/16x16/category_json.png"
            level-id="json"
            name="JSON"
            path="/labs"/>
   </extension>
   
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/labs/json" factory-class="org.knime.json.node.fromstring.StringToJSONNodeFactory" id="org.knime.json.node.fromstring.StringToJSONNodeFactory"/>
      <node category-path="/labs/json" factory-class="org.knime.json.node.reader.JSONReaderNodeFactory" id="org.knime.json.node.reader.JSONReaderNodeFactory" after="org.knime.json.node.fromstring.StringToJSONNodeFactory"/>
      <node category-path="/labs/json" factory-class="org.knime.json.node.writer.JSONWriterNodeFactory" id="org.knime.json.node.writer.JSONWriterNodeFactory" after="org.knime.json.node.reader.JSONReaderNodeFactory"/>
      <node category-path="/labs/json" factory-class="org.knime.json.node.toxml.JSONToXMLNodeFactory" id="org.knime.json.node.toxml.JSONToXMLNodeFactory" after="org.knime.json.node.writer.JSONWriterNodeFactory"/>
      <node category-path="/labs/json" factory-class="org.knime.json.node.fromxml.XMLToJSONNodeFactory" id="org.knime.json.node.fromxml.XMLToJSONNodeFactory" after="org.knime.json.node.toxml.JSONToXMLNodeFactory"/>
      <node category-path="/labs/json" factory-class="org.knime.json.node.jsonpath.JSONPathNodeFactory" id="org.knime.json.node.jsonpath.JSONPathNodeFactory" after="org.knime.json.node.fromxml.XMLToJSONNodeFactory"/>
      <!--node category-path="/labs/json" factory-class="org.knime.json.node.jsonpointer.JSONPointerNodeFactory" id="org.knime.json.node.jsonpointer.JSONPointerNodeFactory" after="org.knime.json.node.jsonpath.JSONPathNodeFactory"/-->
      <!--node category-path="/labs/json" factory-class="org.knime.json.node.patch.apply.JSONPatchApplyNodeFactory" id="org.knime.json.node.patch.apply.JSONPatchApplyNodeFactory" after="org.knime.json.node.jsonpointer.JSONPointerNodeFactory"/-->
      <node category-path="/labs/json" factory-class="org.knime.json.node.patch.apply.JSONPatchApplyNodeFactory" id="org.knime.json.node.patch.apply.JSONPatchApplyNodeFactory" after="org.knime.json.node.jsonpath.JSONPathNodeFactory"/>
      <node category-path="/labs/json" factory-class="org.knime.json.node.schema.check.JSONSchemaCheckNodeFactory" id="org.knime.json.node.schema.check.JSONSchemaCheckNodeFactory" after="org.knime.json.node.patch.apply.JSONPatchApplyNodeFactory"/>
      <node
            after="org.knime.json.node.schema.check.JSONSchemaCheckNodeFactory"
            category-path="/labs/json"
            factory-class="org.knime.json.node.patch.create.JSONPatchCreateNodeFactory"
            id="org.knime.json.node.patch.create.JSONPatchCreateNodeFactory"/>
   </extension>
   <extension
           point="org.knime.workbench.repository.registeredFileExtensions">
      <FileExtensionMapping
              NodeFactory="org.knime.json.node.reader.JSONReaderNodeFactory">
         <FileExtension extension=".json"/>
         <FileExtension extension=".json.gz"/>
      </FileExtensionMapping>
   </extension>
   <extension
         point="org.knime.base.AggregationOperator">
      <AggregationOperator
            AggregationOperator="org.knime.json.aggregation.ConcatenateAsJSON"
            deprecated="false"/>
      <AggregationOperator AggregationOperator="org.knime.json.aggregation.JSONPathCollection" deprecated="false"/>
      <AggregationOperator AggregationOperator="org.knime.json.aggregation.JsonPointer" deprecated="false"/>
      <AggregationOperator AggregationOperator="org.knime.json.aggregation.ToJson" deprecated="false"/>
   </extension>
   <extension
         point="org.knime.core.DataValueRenderer">
      <dataValue
            valueClass="org.knime.core.data.json.JSONValue">
         <renderer
               rendererFactoryClass="org.knime.core.data.json.JSONValueRenderer$Factory"
               suggestAsDefault="true">
         </renderer>
      </dataValue>
   </extension>
</plugin>
