<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>

   <!-- This is an example for providing an own category--> 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/16x16/category_json.png"
            level-id="json"
            name="JSON"
            path="/manipulation/row/row-transform"/>
   </extension>
   
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/manipulation/row/row-transform/json" factory-class="org.knime.json.node.jsonpath.projection.JSONPathProjectionNodeFactory" id="org.knime.json.node.jsonpath.projection.JSONPathProjectionNodeFactory"/>
      <node category-path="/manipulation/row/row-transform/json" factory-class="org.knime.json.node.toxml.JSONToXMLNodeFactory" id="org.knime.json.node.toxml.JSONToXMLNodeFactory"/>
      <node category-path="/manipulation/row/row-transform/json" factory-class="org.knime.json.node.fromxml.XMLToJSONNodeFactory" id="org.knime.json.node.fromxml.XMLToJSONNodeFactory"/>
      <node category-path="/manipulation/row/row-transform/json" factory-class="org.knime.json.node.fromstring.StringToJSONNodeFactory" id="org.knime.json.node.fromstring.StringToJSONNodeFactory"/>
      <node category-path="/manipulation/row/row-transform/json" factory-class="org.knime.json.node.reader.JSONReaderNodeFactory" id="org.knime.json.node.reader.JSONReaderNodeFactory"/>
      <node category-path="/manipulation/row/row-transform/json" factory-class="org.knime.json.node.writer.JSONWriterNodeFactory" id="org.knime.json.node.writer.JSONWriterNodeFactory"/>
      <node category-path="/manipulation/row/row-transform/json" factory-class="org.knime.json.node.schema.check.JSONSchemaCheckNodeFactory" id="org.knime.json.node.schema.check.JSONSchemaCheckNodeFactory"/>
      <node category-path="/manipulation/row/row-transform/json" factory-class="org.knime.json.node.patch.apply.JSONPatchApplyNodeFactory" id="org.knime.json.node.patch.apply.JSONPatchApplyNodeFactory"/>
      <node category-path="/manipulation/row/row-transform/json" factory-class="org.knime.json.node.patch.create.JSONPatchCreateNodeFactory" id="org.knime.json.node.patch.create.JSONPatchCreateNodeFactory"/>
   </extension>
   <extension
           point="org.knime.workbench.repository.registeredFileExtensions">
      <FileExtensionMapping
              NodeFactory="org.knime.json.node.reader.JSONReaderNodeFactory">
         <FileExtension extension=".json">
         </FileExtension>
      </FileExtensionMapping>
   </extension>
   <extension
         point="org.knime.base.AggregationOperator">
      <AggregationOperator
            AggregationOperator="org.knime.json.aggregation.ConcatenateAsJSON"
            deprecated="false"/>
      <AggregationOperator AggregationOperator="org.knime.json.aggregation.JSONPathCollection" deprecated="false"/>
      <AggregationOperator AggregationOperator="org.knime.json.aggregation.JsonPointer" deprecated="false"/>
   </extension>
   <extension
         id="json"
         name="JSON (JavaScript Object Notation)"
         point="org.knime.base.filehandling.mimetypes">
         <mimetype
               name="application/json">
            <fileextension
                  name=".json">
            </fileextension>
         </mimetype>
         <!--unofficial smile mime type-->
         <!--mimetype
               name="application/x-jackson-smile">
            <fileextension
                  name=".smile">
            </fileextension>
         </mimetype-->
         <!--bson seems to have no mime type yet.-->
   </extension>
   
</plugin>
